*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}
.contenedor-quiz{
    margin: auto;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.contenedor-quiz #task-form{
    width: 100%;
}
.contenedor-quiz #task-form input{
    width: 100%;
}
.form-group{
    margin-top: 10px;
}